body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;   
    align-items: center;     
    justify-content: center;  
    text-align: center;
}

h1{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2{
    font-family: verdana;
    font-weight: 300;
    font-size: 42px;
}

p{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

a{
    color: aquamarine;
    font-size: 16px;
}

video {
    display: block;
    margin: 0 auto;
}

.image-container {
    display: flex;
    flex-direction: column;   
    align-items: center;     
    gap: 20px;               
}

h4{
    text-align: right;
    color: gray;
}